/doc/html

# Tests
test/CachedFactory/CachedFactoryTest
test/DeletableSingleton/DeletableSingleton
test/Factory/Factory
test/Function/FunctionTest
test/LockingPtr/main
test/Longevity/main
test/Longevity/main2
test/OrderedStatic/main
test/Pimpl/main
test/Register/main
test/RegressionTest/Test
test/SafeFormat/main
test/ScopeGuard/main
test/Singleton/Dependencies
test/SingletonDll/client
test/Singleton/Phoenix
test/SmallObj/SmallObjBench
test/SmallObj/SmallObjSingleton
test/SmartPtr/main
test/Visitor/main

# Prerequisites
*.d
*.dep

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
loki-cxx11-*/
loki-cxx11-*.tar.gz

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Coverage
*.gcda
*.gcno
/*coverage.info
/*coverage/

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Temp and backup files
*.swp
*.tmp
*~
~*
*.e
*.bak
*.tdy
*.orig

# Other
*.pdf
tags
